/* General Styles */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Comic Sans MS";
}

/* Navigation Bar Container */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
}

/* Navigation Links */
.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 7px;
}

.navbar a:hover {
    background-color: rgba(206, 206, 206, 0.5);
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

.navbar a:last-child {
    margin-right: 0;
}


.container {
    position: relative;
    margin-top: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 7px;
    z-index: 10;
}

/* Block container styling */
.Block {
    position: relative;
    display: inline-block;
    width: 630px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
}

/* Image styling */
.Block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    transition: transform 0.8s ease;
    z-index: 5;
}


.image {
    position: absolute;
    width: 300px;
    margin-top: 0px;
    top: 0;
    height: 30px;
}


h2.center {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    text-align: center;
    z-index: 20;
    font-size: 50px;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.end {
    width: 100%;
    height: 75px;
    margin: 0;
    background-color: #4700a5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
